html{
    box-sizing: border-box;
    font-size: 62.5%;
}
*,*{
    box-sizing: inherit;
}
body{
    background-color: hsl(212, 45%, 89%);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1.6rem;
}
img{
    max-width: 100%;
    border-radius: 2rem;
}
.contenedor{
    max-width: 35rem;
    width: 95%;
    margin: 20rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: 2rem;
    text-align: center;
}
.contenedor--h2{
    margin-top: 3rem;
    font-size: 2.4rem;
    font-weight: bold;
    color: hsl(218, 44%, 22%);
}
.contenedor--p{
    font-size: 1.6rem;
    color: hsl(220, 15%, 55%);
}


